<div *ngIf = "carsCatalog === false && orderCar === false">
    <div style="width: 35%; float: left;height: 100%;">

        <img src={{car.CarImage}} style="height: 100px; display: block;"/> 
        <button style="display: block;" (click)="OrderClick()" > Order Car </button>
        <button style="display: block;" (click)="backToCatalog()" > Back to catalog </button> 

    </div>

    <div style="width: 60%;height: 100%;float:right">
        <div style="height: 50%; display: block">
            <p> Supplier Name: {{car.SupplierName}} </p>
            <p> Car Model: {{car.CarModel}} </p>
            <p> Daily Cost: {{car.DailyCost}} </p>
            <p> Daily Delay Cost: {{car.DailyDelayCost}} </p>
        </div>

        <div style="height: 45%; float:right">
            
            <div style=" float:right ">
                <input style="width: 50%" type="date" [(ngModel)]="startRent" (input)="onDateChange()" name="startRent">
                <input style="width: 50%" type="date" [(ngModel)]="endRent" (input)="onDateChange()" name="endRent" >
                <br/> <br/>
                <div *ngIf = " startRent ==='' && endRent ==='' "  >
                    <button style="width: 50%" >Register</button>
                </div>
            </div>

            <br/> <br/>

            <div style="height: 50%; float: left;text-align: center;display: block;"> calculated price : {{calulatedPrice}} </div>
            <br/>
            <div style="height: 50%; float: left;text-align: center"> price for every delay day : {{car.DailyDelayCost}} </div>

        </div>
    </div>

</div>

<div *ngIf = "carsCatalog === true">
    <app-cars></app-cars>
</div>

<div *ngIf = "orderCar===true">
    <app-car-order [car]="car"></app-car-order>
</div>