.Xbutton{
     display: block;
     margin-left: 95%;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}